.header {
  position: fixed;
  background-color: $specialGrey;
  width: 100%;
  z-index: 2;
}
.navList {
  display: flex;
  justify-content: space-evenly;
  a {
    color: white;
    text-transform: capitalize;
    display: block;
    padding: 20px;
    transition: all 1s ease;
    &:hover,
    &:focus {
      color: $specialLime;
    }
    &::after {
      content: '';
      display: block;
      width: inherit;
      height: 2px;
      background-color: $specialLime;
      margin-top: 7px;
    }
  }
}
.nav {
  display: none;
}
@media screen and (min-width: 644px) {
  .nav {
    display: flex;
    justify-content: center;
  }
}
