@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/* обнуляем дефолтные маркеры у всех маркированных списков */
ul, ol {
  list-style: none;
}

/* обнуляем дефолтные подчеркивания у всех ссылок */
a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
}

code,
kbd,
samp,
pre {
  font-family: 'Open Sans', sans-serif;
  /* font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; 1 */
  font-size: 1em;
  /* 2 */
}

/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/*
  Document
  ========
  */
/**
  Use a better box model (opinionated).
  */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Use a more readable tab size (opinionated).
  */
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
  1. Correct the line height in all browsers.
  2. Prevent adjustments of font size after orientation changes in iOS.
  */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
  Sections
  ========
  */
/**
  Remove the margin in all browsers.
  */
body {
  margin: 0;
  padding: 0;
}

/**
  Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
  */
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
  Grouping content
  ================
  */
/**
  1. Add the correct height in Firefox.
  2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
  */
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
  Text-level semantics
  ====================
  */
/**
  Add the correct text decoration in Chrome, Edge, and Safari.
  */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
  Add the correct font weight in Edge and Safari.
  */
b,
strong {
  font-weight: bolder;
}

/**
  1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
  2. Correct the odd 'em' font sizing in all browsers.
  */
/**
  Add the correct font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
  Tabular data
  ============
  */
/**
  1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
  2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
  */
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
  Forms
  =====
  */
/**
  1. Change the font styles in all browsers.
  2. Remove the margin in Firefox and Safari.
  */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
  display: block;
}

address {
  font-style: normal;
}

/**
  Remove the inheritance of text transform in Edge and Firefox.
  1. Remove the inheritance of text transform in Firefox.
  */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
  Correct the inability to style clickable types in iOS and Safari.
  */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
  Remove the inner border and padding in Firefox.
  */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  Restore the focus styles unset by the previous rule.
  */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  Remove the additional ':invalid' styles in Firefox.
  See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
  */
:-moz-ui-invalid {
  box-shadow: none;
}

/**
  Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
  */
legend {
  padding: 0;
}

/**
  Add the correct vertical alignment in Chrome and Firefox.
  */
progress {
  vertical-align: baseline;
}

/**
  Correct the cursor style of increment and decrement buttons in Safari.
  */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
  1. Correct the odd appearance in Chrome and Safari.
  2. Correct the outline style in Safari.
  */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
  Remove the inner padding in Chrome and Safari on macOS.
  */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  1. Correct the inability to style clickable types in iOS and Safari.
  2. Change font properties to 'inherit' in Safari.
  */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
  Interactive
  ===========
  */
/*
  Add the correct display in Chrome and Safari.
  */
summary {
  display: list-item;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

button {
  display: block;
}

.title {
  line-height: 1, 24;
  font-size: 34px;
  text-transform: capitalize;
}

.header {
  position: fixed;
  background-color: black;
  width: 100%;
  z-index: 2;
}

.navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navList a {
  color: white;
  text-transform: capitalize;
  display: block;
  padding: 20px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navList a:hover, .navList a:focus {
  color: #c9f849;
}

.navList a::after {
  content: '';
  display: block;
  width: inherit;
  height: 2px;
  background-color: #c9f849;
  margin-top: 7px;
}

.nav {
  display: none;
}

@media screen and (min-width: 644px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menuBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #c9f849;
  position: absolute;
  cursor: pointer;
  top: 15px;
  padding: 10px;
  right: 5%;
  z-index: 1;
}

.menuBtn span,
.menuBtn span::after,
.menuBtn span::before {
  display: block;
  width: 30px;
  height: 2px;
  background: black;
}

.menuBtn span {
  position: relative;
}

.menuBtn span::before,
.menuBtn span::after {
  content: '';
  position: absolute;
}

.menuBtn span::before {
  top: 4px;
}

.menuBtn span::after {
  bottom: 4px;
}

#menuToggle {
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: absolute;
}

#menuToggle:checked ~ .menuBtn span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menuToggle:checked ~ .menuBtn span::before {
  display: none;
}

#menuToggle:checked ~ .menuBtn span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.menuBox {
  display: block;
  position: fixed;
  top: 50px;
  left: -100%;
  width: 95%;
  height: 100%;
  background: black;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menuBox ul {
  height: inherit;
  width: inherit;
}

#menuToggle:checked ~ .menuBox {
  visibility: visible;
  left: 0;
}

@media screen and (min-width: 644px) {
  .labelMenu,
  #menuToggle {
    display: none;
  }
}

.hero {
  padding: 100px 0;
}

.heroTitle {
  font-weight: bold;
  font-family: 'Gilroy-Bold ☞';
  margin-bottom: 30px;
  letter-spacing: 0.08em;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .heroTitle {
    margin-bottom: 0;
    line-height: 1.5;
  }
}

.heroDescription {
  color: gray;
  line-height: 1.5;
}

.langBtnWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  position: absolute;
  top: 50%;
  right: 0;
}

@media screen and (min-width: 768px) {
  .langBtnWrapper {
    position: static;
  }
}

.langBtnWrapper button {
  background: transparent;
  border: none;
  color: gray;
  font-family: 'Gilroy-Bold ☞';
}

.langBtnWrapper button:hover, .langBtnWrapper button:focus {
  color: black;
}

.langBtnWrapper button:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.langBtnWrapper button:not(:last-child)::after {
  content: '';
  display: block;
  width: 2px;
  height: 100%;
  background: grey;
  margin-left: 10px;
}

.contentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .contentWrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.imageWrapper {
  width: 100%;
}

.imageWrapper img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  display: block;
}

.about {
  background: #f6f6f6;
  padding: 120px 0;
}

.about .container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about .container {
    padding-left: 140px;
    padding-right: 140px;
  }
}

@media screen and (min-width: 1200px) {
  .about .container {
    padding-left: 360px;
    padding-right: 360px;
  }
}

.aboutList {
  margin-top: 50px;
}

.aboutList > li:not(:last-child) {
  margin-bottom: 70px;
}

.title {
  font-size: 34px;
  line-height: 1.24;
}

.title::first-letter {
  text-transform: uppercase;
}

.aboutList > li {
  font-size: 18px;
  line-height: 1.21;
}

.skiils {
  padding: 100px 0;
}

.titleSkills {
  text-align: center;
}

.skillsList > li:not(:last-child) {
  margin-right: 90px;
}

.skillsList {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skillsList p {
  text-transform: capitalize;
}

.textSkills {
  text-align: center;
  line-height: 1.21;
  font-size: 18px;
  margin-top: 70px;
}

.skillsItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 166px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.itemImg {
  background: yellow;
}

.textImg {
  padding-top: 24px;
  padding-bottom: 40px;
  text-align: center;
  text-transform: capitalize;
}

.itemStar {
  stroke: #0c0c0c;
  fill: #0c0c0c;
  width: 24px;
  height: 24px;
}

.footer {
  padding: 120px 0;
  text-align: center;
}

.feedbackBtn {
  margin: 0 auto;
  background: #070707;
  color: white;
  border-radius: 30px;
  padding: 12px 28px;
}

.footerGreetFirst {
  margin-top: 20px;
}

.footerGreetSecond {
  margin-bottom: 30px;
}

.footerGreetFirst:first-letter,
.footerGreetSecond:first-letter {
  text-transform: uppercase;
}

.socialIconsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  margin-bottom: 46px;
}

.socialIconsList li:not(:last-child) {
  margin-right: 60px;
}

.footerSign {
  color: #828282;
  font-size: 14px;
  line-height: 1.21;
}

.portfolio {
  background: #F6F6F6;
  padding: 120px 0;
  text-align: center;
}

.portfolioList {
  margin-top: 48px;
}
/*# sourceMappingURL=main.css.map */